https://www.shanbay.com/wordbook/2725/



<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="robots" content="index,follow" />
        <meta name="copyright" content="Copyright 2009-2016. www.shanbay.com . All Rights Reserved." />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        
    <title>单词书： GRE阅读39+3 阅读词汇 </title>
    <meta name="keywords" content="扇贝单词书，创建你自己的单词书"/>
    <meta name="description" content="扇贝单词书" />


        <!-- Le styles -->
        <link rel="icon" type="image/png" href="https://static.baydn.com/static/img/shanbay_favicon.png" />

        <link rel="stylesheet" type="text/css" href="https://static.baydn.com/static/css/shanbay/jquery.noty.css" />
        <link rel="stylesheet" type="text/css" href="https://static.baydn.com/static/css/shanbay/noty_theme_default.css" />
        <link rel="stylesheet" type="text/css" href="https://static.baydn.com/static/css/datepicker.css" />
        
            <link href="https://static.baydn.com/static/css/shanbay_base.9b7eb1d008a6ee2f278a77c5aaee81f8.css" rel="stylesheet" type="text/css" />
            <link href="https://static.baydn.com/static/css/listen_hints.eb3d12cc65b05a5037a2ef1bfaa2b35f.css" rel="stylesheet" type="text/css" />
        
        
    <link href="https://static.baydn.com/static/css/new_wordbook.6674e14dba32f2d9cd6300646d5ed637.css" rel="stylesheet" type="text/css" />

        <!--[if (lt IE 9) & (!IEMobile)]>
        <link href="https://static.baydn.com/static/css/shanbay-ie.93c2a39c861c3648a2ba039c3e478dbb.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="https://static.baydn.com/static/font/shanbay-fontawesome/shanbay-fontawesome-v3.css"/>
    </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
      <div id="hints-bundle-modal">
      </div>
  
  <!-- Navbar
    ================================================== -->
    <div id="main-navbar" class="navbar navbar-fixed-top ">
    <div class="navbar-inner" style='filter: none'>
      <div class="container">
          
          <div class="page-head">
              <div id="page-head-right">
                
                <div id="main-login" class="pull-right">
                        <a id="" class="twi-btn-left" name="login" href="/accounts/login/"><span>登录</span></a><a id="" class="twi-btn-right" name="register" href="/accounts/register?next="><span>注册</span></a>
                </div>
                
              </div>
          </div>
          
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><img src="https://static.baydn.com/static/img/logo_v4.png" /></a>
        <div class="nav-collapse">
            
            <ul class="nav" style="z-index: 1040">
                
                
                <li class="dropdown main-nav home ">
                    <a class="main-menu" href="/">首页</a>
                </li>

                <li class="dropdown main-nav 
    active
">
                    <a href="/bdc/review/"
                      class="main-menu">
                        单词
                    </a>
                </li>

                <li class="dropdown main-nav  ">
                    <a class="main-menu"
                        href="/sentence/review/"
                        class="dropdown-toggle">
                        炼句
                    </a>
                </li>

                <li class="dropdown main-nav  ">
                    <a class="main-menu" href="/read/home/">
                        阅读
                    </a>
                </li>

                <li class="dropdown main-nav  ">
                    <a class="main-menu" href="/listen/">
                        听力
                    </a>
                </li>

                <li class="dropdown main-nav  ">
                    <a class="main-menu" href="/community/">
                        社区
                    </a>
                </li>

            </ul>
            
            <form class="navbar-search pull-right" action="">
                <div class="controls">
                    <div class="input-prepend">
                        <input type="text" class="search-input span2" placeholder="查词" />
                        <img src="https://static.baydn.com/static/img/icon-remove.png" class="icon-remove hide" />
                        <span class="add-on search-submited"><i class="icon-search"></i></span>
                    </div>
                </div>
            </form>
            
        </div>
     </div>
   </div>

   <div class="sub-menu 
    active
">
       <ul class="container">
           <li class=""><a id="bdc-new-review-link" href="/bdc/review/">单词学习</a></li>
           <li class=""><a href="/market/">扩展包</a></li>
           <li class="
    active
"><a href="/wordbook/books/mine/">单词书</a></li>
           <li class=""><a href="/bdc/learnings/library/#today">我的词库</a></li>
           <li class=""><a href="/vocabtest/welcome/">单词量测试</a></li>
           <li class=""><a href="/user/setting/bdc/">单词设置</a></li>
       </ul>
   </div>

   <div class="sub-menu ">
       <ul class="container">
           <li class=""><a href="/sentence/review/">炼句学习</a></li>
           <li class=""><a href="/sentence/book/">课程</a></li>
           <li class="" ><a href="/sentence/plan/">炼句计划</a></li>
           <li class=""><a href="/sentence/setting/">炼句设置</a></li>
       </ul>
   </div>

   <div class="sub-menu ">
       <ul class="container">
           <li class="">
               <a href="/read/home/">阅读首页</a>
           </li>
           <li class="">
               <a href="/read/books/">读书</a>
           </li>
           <li class="">
               <a href="/read/news/">新闻</a>
           </li>
           <li class="">
               <a href="/read/plan/">阅读计划</a>
           </li>
           
           <li class=" ">
               <a href="/read/articles/viewed/">收藏的文章</a>
           </li>
           <li class=" ">
               <a href="/read/setting/">阅读设置</a>
           </li>
       </ul>
   </div>

   <div class="sub-menu ">
       <ul class="container">
           <li class=""><a href="/listen/">听力学习</a></li>
           <li class=""><a href="/listen/books/my/">听力课程</a></li>
           <li class=""><a href="/listen/plan/">听力计划</a></li>
           <li class=""><a class="buy-listen-hints" href="/listen/#buy-hints">购买提示</a></li>
           <li class=""><a href="/listen/setting/">听力设置</a></li>
       </ul>
   </div>

   <div class="sub-menu ">
       <ul class="container">
           <li class=""><a href="/community/">论坛</a></li>
           <li class=""><a href="/team/team/">小组</a></li>
           <li class=""><a href="/footprints/">精选</a></li>
           <li class=""><a href="/referral/invite/">邀请</a></li>
       </ul>
   </div>

  
  

 </div>





  <!--
  <div class="gradient-bar">
      &nbsp;
  </div>
  -->



  <div class="container main-body ">
      
    <div class="row">
        <div class="span8">
            
<div class="wordbook-container">
    <div class="row wordbook-detail-container">
        <div class="wordbook-cover span">
            <a href="/wordbook/2725/"><img class="thumbnail" src="https://static.baydn.com/wordbook/media_store/cover/c95388a87b2c99f12ea8ad457f757313?imageView/1/w/120/h/160/"/></a>
        </div>

        <div class="wordbook-basic-info span3">
            <div class="wordbook-title" style="max-width: 300px;">
                <a href="/wordbook/2725/">GRE阅读39+3 阅读词汇</a>
            </div>
            <div>
                <span>分类： </span>
                <a target="_blank" href="/wordbook/category/40/">GRE</a>
            </div>
            <div class="wordbook-owner">
                <span>上传者： </span>
                
                    <span class="wordbook-owner-username">dustbin</span>
                
            </div>
            <div class="wordbook-count">
                <span>单词数： </span>879<br/>
            </div>
            <div class="wordbook-price">
                <span>价格： </span>
                
                        20 贝壳
                
            </div>
        </div>
        
        
            <div id="wordbook-save-div" class="span2 offset1 well float-right">
                <div class="wordbook-operation-area">
                    
                        <button class="btn btn-success wordbook-operation-button" id="wordbook-save-button">
                            支付 20 贝壳收藏
                        </button>
                    
                </div>
            </div>
            <div class="wordbook-saving-hint">
                <div class="hide wordbook-operation-area span2 offset1 well">
                    <p>请稍候...</p>
                </div>
            </div>
            <div class="wordbook-subscribed-hint">
                <div class="hide wordbook-operation-area">
                    <p>您已收藏这本单词书</p>
                </div>
            </div>
            <div class="hide wordbook-in-sufficient-coins-hint">
                <div class="wordbook-operation-area">
                    <p>您的贝壳不足以购买本单词书。 <a href='/coins/charge/'>去充值</a></p>
                </div>
            </div>
            <div id="wordbook-unsave-div" class="hide span2 offset1 well float-right">
                <div class="wordbook-operation-area">
                    <button class="btn btn-success" id="wordbook-unsave-button">取消收藏</button>
                    <p>取消收藏</p>
                </div>
            </div>
        
        
    </div>
    <div class="hide wordbook-in-sufficient-progress-hint alert">
        <p>你收藏的单词书学习进度尚未超过90%， 无法收藏新的单词书。
            <a href='/wordbook/my/'>查看我收藏的单词书</a>
        </p>
        <div id="wordbook-subscribe-hint">
            <p>提示: </p>
            <p>1.要收藏新单词书，请先取消收藏进度未达到90%的单词书。</p>
            <p>2.收藏更多的单词书不会让你的学习更快， 也不会同时学习多本单词书。</p>
            <p>3.在学习完一本单词书之后再学习其他单词书时， 重复的单词不会重复学习。</p>
        </div>
    </div>
    
    
    <div class="wordbook-description">
        <p id="heading">单词书描述：</p>
        <div class="indent well">
                &quot;对于GRE考试，单词的准备几乎可以说是贯穿整个复习过程的。很少有人能在做题之前，甚至做题中部就把单词问题基本解决，无数人都是在考试前两个礼拜还在玩儿命背单词呢。阅读的复习一直在打折，造成很多人在阅读上面下的功夫并不少，却对它把握最小。那单词不可能提前准备好，阅读又要求连贯性，怎么办呢？我们干脆换个小笊篱，专门捞一捞阅读单词吧。
    笔者在搜集所有的真题单词的过程中发现，有一些阅读文章中的核心单词，在很多重要的GRE备考单词书中都很遗憾的没有被收录，比如说 discrimination，segregation，ethnic等，它们曾在多篇阅读文章中充当重要角色，所以单独抽出时间准备GRE阅读专属词汇是必要的！为了帮助读者更深刻地理解一些重要的词汇，我想对这部分词汇进行一下分类...&quot;                
            ——《GRE阅读39+3全攻略》
        </div>
    </div>

    <div id="wordbook-detail-container">
    
        <div id="wordbook-subscribe-hint">
            <p> * 此单词书包含下列单元。当你收藏本书时，系统会自动逐渐将各个单元中的单词加入你的学习</p>
        </div>
        
            <div id="wordbook-wordlist-container" class="well">
                
                    

<div id="wordlist-27373" class="wordbook-create-candidate-wordlist wordbook-containing-wordlist" >
    <div class="wordbook-create-wordlist-title" style="display: block">
        <table width="100%">
            <tr>
                <td class="wordbook-wordlist-name">
                    <a href="/wordlist/2725/27373/">GRE阅读39+3 重点词汇</a>
                </td>
                <td align="right" class="wordbook-wordlist-count">
                    <span>单词数：</span>427
                </td>
            </tr>
        </table>
    </div>

    <div class="wordbook-create-wordlist-body">
        <div class="info">
            <table width="100%">
                <tr>
                    <td>
                         <span class="author">作者： dustbin</span> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

                
                    

<div id="wordlist-28939" class="wordbook-create-candidate-wordlist wordbook-containing-wordlist" >
    <div class="wordbook-create-wordlist-title" style="display: block">
        <table width="100%">
            <tr>
                <td class="wordbook-wordlist-name">
                    <a href="/wordlist/2725/28939/">GRE阅读39+3 高频词汇</a>
                </td>
                <td align="right" class="wordbook-wordlist-count">
                    <span>单词数：</span>458
                </td>
            </tr>
        </table>
    </div>

    <div class="wordbook-create-wordlist-body">
        <div class="info">
            <table width="100%">
                <tr>
                    <td>
                         <span class="author">作者： dustbin</span> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

                
            </div>
        
    
    </div>
</div>


<script type="text/x-jquery-tmpl" id="wordbook-unit-modal-tmpl">
    <div id="wordbook-unit-modal">
        <div class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>增减／编辑单词书单元</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-top">
                    <form class="unit-form">
                    
                    </form>
                    <p class="alert alert-danger invalid-form-hint hide">请将单元信息填写完整</p>
                </div>
                <div class="modal-body-bottom">
                    <div class="hide modal-body-success">
                        <p class="alert alert-success">新单元创建成功！</p>
                    </div>
                    <div class="hide modal-body-fail">
                        <p class="alert alert-danger">新单元创建失败</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-top">
                    <a href="javascript:;" class="btn btn-primary btn-submit-unit-creation" >提交</a>
                </div>
                <div class="modal-footer-bottom hide">
                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/x-jquery-tmpl" id="wordbook-unit-modification-modal-tmpl">
    <div id="wordbook-unit-modification-modal">
        <div class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>更新单元信息</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-top">
                    <form class="unit-form">
                    
                    </form>
                    <p class="alert alert-danger invalid-form-hint hide">请将单元信息填写完整</p>
                </div>
                <div class="modal-body-bottom">
                    <div class="hide modal-body-success">
                        <p class="alert alert-success">单元信息更新成功！</p>
                    </div>
                    <div class="hide modal-body-fail">
                        <p class="alert alert-danger">单元信息更新失败</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-top">
                    <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                    <a href="javascript:;" class="btn btn-primary btn-submit-unit-modification" >提交</a>
                </div>
                <div class="modal-footer-bottom hide">
                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>
</script>



<script type="text/x-jquery-tmpl" id="wordbook-wordlist-tmpl">
<div id="wordlist-${ id }" class="wordbook-create-candidate-wordlist wordbook-containing-wordlist" >
    <div class="wordbook-create-wordlist-title" style="display: block">
        <table width="100%">
            <tr>
                <td class="wordbook-wordlist-name">
                    <a href="/wordlist/${ wordbook_id }/${ wordlist.id }/">${ wordlist.name }</a>
                </td>
                <td align="right">
                    <span>单词数：</span>${ wordlist.num_vocabularies }
                </td>
            </tr>
        </table>
    </div>

    <div class="wordbook-create-wordlist-body">
        <div class="info">
            <table width="100%">
                <tr>
                    <td>
                        
                            <span class="author">作者： ${ wordlist.author_name }</span>
                        
                    </td>
                    <td align="right" class="wordbook-wordlist-count">
                        <a href="/wordlist/${ wordbook_id }/${ wordlist.id }/">添加单词</a>
                        <a desc="${ wordlist.description }" id="${ id }" unit-id="${ wordlist.id }" class="btn-update-unit-info" href="javascript:;">
                            更新
                        </a>
                        <a unit-id="${ wordlist.id }" data="${ id }" class="btn-move-unit" href="javascript:;">
                            移动
                        </a>
                        <a unit-id="${ id }" class="btn-delete-unit" href="javascript:;">
                            删除
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</script>


<script type="text/x-jquery-tmpl" id="wordbook-unit-deletion-modal-tmpl">
    <div id="wordbook-unit-deletion-modal">
        <div class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>删除单元</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-top">
                    <p class="alert alert-danger">
                        你将要删除这个单元，一旦删除无法恢复，你确定吗？
                    </p>
                </div>
                <div class="modal-body-bottom">
                    <div class="hide modal-body-success">
                        <p class="alert alert-success">单元删除成功</p>
                    </div>
                    <div class="hide modal-body-fail">
                        <p class="alert alert-danger">删除失败，请重试</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-top">
                    <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                    <a href="javascript:;" class="btn btn-primary btn-submit-unit-deletion" >确定</a>
                </div>
                <div class="modal-footer-bottom hide">
                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>
</script>



<script type="text/x-jquery-tmpl" id="move-wordbook-unit-modal-tmpl">
    <div id="move-wordbook-unit-modal">
        <div class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>移动单词书单元</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-top">
                    {{if wordbooks.length}}
                        <div class="alert alert-success">
                            <p>选择需要将该单元移入的单词书</p>
                            <select id="new-wordbook-id">
                                {{each(index, wordbook) wordbooks}}
                                    <option value="${wordbook.id}">${wordbook.title}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{else}}
                        <div class="alert alert-danger">
                            你没有其他处于编辑状态的单词书了，单元无法移动
                        </div>
                    {{/if}}
                </div>
                <div class="modal-body-bottom">
                    <div class="hide modal-body-success">
                        <p class="alert alert-success">单元移动成功</p>
                    </div>
                    <div class="hide modal-body-fail">
                        <p class="alert alert-danger">单元移动失败</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-top">
                    {{if wordbooks.length}}
                        <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                        <a href="javascript:;" class="btn btn-primary btn-submit-move-unit" >提交</a>
                    {{else}}
                        <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                    {{/if}}
                </div>
                <div class="modal-footer-bottom hide">
                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>
</script>



<script type="text/x-jquery-tmpl" id="submit-wordbook-modal-tmpl">
    <div id="submit-wordbook-modal">
        <div class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>提交审核</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-loading">
                    <p class="spinner-container">
                        <span class="hide" id="check-verification-requirements-loading">
                        </span>
                    </p>
                    <p>正在检查单词书状态</p>
                </div>
                <div class="modal-body-top hide">
                    <p>提交审核的单词书需要满足以下条件（对号表示已经符合条件）</p>
                    <div class="well">
                        <li>
                            <span class="cover_status"><i></i></span>
                            单词书封面要清晰，美观，尺寸合适
                        </li>
                        <li>
                            <span class="count_status"><i></i></span>
                            单词书中需要至少包含 100 个单词
                        </li>
                        <li>
                            <span class="balance_status"><i></i></span>
                            <strong class="charge-hint">每本单词书将收取 1000 贝壳的审核费用（同一本书多次提交审核不会重复收取该费用；审核通过与否该费用均不退还）</strong>
                            <span class="hide already-paid-hint">审核费用已缴，不再重复收取</span>
                        </li>
                    </div>
                     <div class="alert alert-danger">
                        <strong>单词书审核通过之后，将无法增删单词和更改书名封面等基本信息</strong>
                        <p>如果该单词书仅仅是为了你个人使用，你只需收藏这本书即可，无需提交审核申请</p>
                    </div>
                   
                </div>
                <div class="modal-body-bottom">
                    <div class="hide modal-body-success">
                        <p class="alert alert-success">审核申请已经成功提交，请耐心等待审核组的进一步通知</p>
                    </div>
                    <div class="hide modal-body-fail">
                        <p class="alert alert-danger">审核申请提交失败</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-loading">
                    <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                </div>
                <div class="modal-footer-top hide">
                    <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                    <a href="javascript:;" class="btn btn-primary btn-submit-wordbook" >提交</a>
                </div>
                <div class="modal-footer-bottom hide">
                    <a href="javascript:;" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>
</script>


<span id="wordbook-id-html" class="hide">2725</span>

<script type="text/x-jquery-tmpl" id="reset-wordbook-confirm-modal-tmpl">
    <div class="hide modal" id="reset-wordbook-confirm-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>重背单词书</h3>
        </div>
        <div class="modal-body">
            <div class="modal-body-top">
                
                
                    <p>你将要重背这本单词书，这将花费 <span class="emphasize-green">500 贝壳</span>。这一操作将会：</p>
                    <ol>
                        <li>将当前这本单词书中已经掌握的单词（不包括被手动标为‘太简单’的词）置为新词，系统会重新安排这些单词的学习</li>
                        <li>进步曲线下方的‘已掌握单词’等数据将有所减少</li>
                        <li>当前这本单词书的进度会有所下降</li>
                    </ol>
                    <p>你确定吗？</p>
                
            </div>
            <div class="hide modal-body-no-shells">
                
                    <p>操作失败：你的贝壳余额不足， <a href="/coins/charge/">点此充值</a></p>
                
            </div>
            <div class="hide modal-body-no-book">
                
                                <p>操作失败：你没有收藏这本书！</p>
                            
            </div>
            <div class="hide modal-body-no-words">
                
                                <p>操作失败：该单词书中没有单词</p>
                            
            </div>
            <div class="hide modal-body-time-limit">
                
                                <p>你刚刚重置过这本单词书，再次尝试需等待30分钟</p>
                            
            </div>
            <div class="modal-body-bottom hide">
                
                    <p>操作成功：正在重置这本书，将在几分钟内完成</p>
                
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-top">
                <a href="javascript:;" class="btn" data-dismiss="modal">取消</a>
                <a href="javascript:;" class="btn btn-success btn-submit-reset">确定</a>
            </div>
            <div class="modal-footer-bottom hide">
                <a href="javascript:;" class="btn btn-success btn-close-modal">好的</a>
            </div>
        </div>
    </div>
</script>

        </div>

        <div class="span4">
            
            <div class="page-header">
                <h3>搜索单词书</h3>
            </div>
            <form class='search-wordbooks-form' method='GET' action=/wordbook/search/>
                <div class="input-prepend">
                    <select class='search-wordbooks-select' name='search-category'>
                        <option value='all' >全部</option>
                        
                            <option value="10"  >考研</option>
                        
                            <option value="20"  >托福</option>
                        
                            <option value="30"  >雅思</option>
                        
                            <option value="40"  >GRE</option>
                        
                            <option value="51"  >四级</option>
                        
                            <option value="52"  >六级</option>
                        
                            <option value="60"  >英专</option>
                        
                            <option value="70"  >托业</option>
                        
                            <option value="80"  >GMAT</option>
                        
                            <option value="90"  >SAT</option>
                        
                            <option value="101"  >高中</option>
                        
                            <option value="102"  >初中</option>
                        
                            <option value="103"  >小学</option>
                        
                            <option value="104"  >医学</option>
                        
                            <option value="109"  >文学作品</option>
                        
                            <option value="110"  >英语辅导</option>
                        
                            <option value="120"  >公共英语</option>
                        
                            <option value="130"  >公开课</option>
                        
                            <option value="140"  >影视剧</option>
                        
                            <option value="150"  >其他</option>
                        
                    </select>
                    <input class="search-wordbooks-input" type="text" name="target" placeholder="单词单词书" value="" autocomplete="on">
                    <button class="add-on search-wordbooks-submited">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </form>
            <div class="page-header">
                <h3>单词书分类</h3>
            </div>
            <span class="hide" id="current-category-id">40</span>
            
                <ul class="nav nav-tabs nav-stacked" id="wordbook-category-list">
                    
                        <li data="10"><a href="/wordbook/category/10/">考研</a></li>
                    
                        <li data="20"><a href="/wordbook/category/20/">托福</a></li>
                    
                        <li data="30"><a href="/wordbook/category/30/">雅思</a></li>
                    
                        <li data="40"><a href="/wordbook/category/40/">GRE</a></li>
                    
                        <li data="51"><a href="/wordbook/category/51/">四级</a></li>
                    
                        <li data="52"><a href="/wordbook/category/52/">六级</a></li>
                    
                        <li data="60"><a href="/wordbook/category/60/">英专</a></li>
                    
                        <li data="70"><a href="/wordbook/category/70/">托业</a></li>
                    
                        <li data="80"><a href="/wordbook/category/80/">GMAT</a></li>
                    
                        <li data="90"><a href="/wordbook/category/90/">SAT</a></li>
                    
                        <li data="101"><a href="/wordbook/category/101/">高中</a></li>
                    
                        <li data="102"><a href="/wordbook/category/102/">初中</a></li>
                    
                        <li data="103"><a href="/wordbook/category/103/">小学</a></li>
                    
                        <li data="104"><a href="/wordbook/category/104/">医学</a></li>
                    
                        <li data="109"><a href="/wordbook/category/109/">文学作品</a></li>
                    
                        <li data="110"><a href="/wordbook/category/110/">英语辅导</a></li>
                    
                        <li data="120"><a href="/wordbook/category/120/">公共英语</a></li>
                    
                        <li data="130"><a href="/wordbook/category/130/">公开课</a></li>
                    
                        <li data="140"><a href="/wordbook/category/140/">影视剧</a></li>
                    
                        <li data="150"><a href="/wordbook/category/150/">其他</a></li>
                    
                </ul>
            
            <ul class="nav nav-tabs nav-stacked" id="wordbook-extra-options">
                <li><a href="/wordbook/books/">我的单词书</a></li>
                
                
                <!--
                    <li><a href="/wordlist/create/">创建词串</a></li>
                -->
                <li><a href="/wordbook/create/basicinfo/">创建单词书</a></li>
            </ul>

            
        </div>
    </div>

  </div><!-- /container -->
    
    

    
    <div id="bloxyModal" class="modal fade hide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">网络错误!</h4>
                </div>
                <div class="modal-body">
                    <p>您的电脑上安装了某些视频广告拦截软件，这会导致无法提交学习数据。</p>
                    <p> 您可以退出相应软件后刷新网页继续学习。</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div> <!-- .modal -->

    <div class="modal hide shortcuts-modal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"></button>
        <h3>快捷键</h3>
      </div>
      <div class="modal-body">
            <table>
                <tbody>
                    <tr>
                        <th>下个单词</th>
                        <td>大于号&gt;或右方向键或D键</td>
                    </tr>
                    <tr>
                        <th>提交答案</th>
                        <td>回车键</td>
                    </tr>
                    <tr>
                        <th>选择相应选项</th>
                        <td>数字键0到4，0为忘记</td>
                    </tr>
                    <tr>
                        <th>拼写单词</th>
                        <td>S 键</td>
                    </tr>
                    <tr>
                        <th>单词发音</th>
                        <td>P 键</td>
                    </tr>
                    <tr>
                        <th>显示词根详情（需购买智慧词根应用）</th>
                        <td>R 键</td>
                    </tr>
                    <tr>
                        <th>显示派生词信息（需购买派生词应用）</th>
                        <td>F 键</td>
                    </tr>
                    <tr>
                        <th>认识</th>
                        <td>数字键 1</td>
                    </tr>
                    <tr>
                        <th>不认识</th>
                        <td>数字键 2</td>
                    </tr>
                    <tr>
                        <th>忘记</th>
                        <td>数字键 0</td>
                    </tr>
                    <tr>
                        <th>太简单</th>
                        <td>数字键 9</td>
                    </tr>
                    <tr>
                        <th>关闭对话框</th>
                        <td>Esc 键</td>
                    </tr>
                </tbody>
            </table>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
      </div>
    </div>


    <!-- Search -->
    <script id="search-result-title-tmpl"  type="text/x-jquery-tmpl">
        <div class="word-container">
            <span class="word">${content}</span>
            {{if learning_id}}
                <a href="/review/learning/${learning_id}" style="float: right; margin-top: 12px;" target="_blank">
            {{else}}
                <a href="/bdc/vocabulary/${id}" style="float: right;" target="_blank">
            {{/if}}
                详细</a>
            <div>
                <span>us:</span>
                <small>/${pronunciations.us}/</small>
                {{if audio_addresses.us.length !== 0 && audio_addresses.us[0]}}
                <span class="speaker" data-target="us"><i class="icon-volume-off"></i></span>
                {{/if}}
                {{if pronunciations.us.length+pronunciations.uk.length > 16 }}
                </div>
                <div>
                {{/if}}
                <span>uk:</span>
                <small>/${pronunciations.uk}/</small>
                {{if audio_addresses.uk.length !== 0 && audio_addresses.uk[0]}}
                <span class="speaker" data-target="uk"><i class="icon-volume-off"></i></span>
                {{/if}}
            </div>
        </div>
    </script>
    <script id="search_tmpl"  type="text/x-jquery-tmpl">
        <div class="definition">
            <div class="simple-definition" style="margin-bottom: 20px; font-size: 16px;">
                ${definition}
            </div>
            <div class="add">
                {{if learning_id}}
                    <div class="progress pull-left" style="border-radius: 0; width: 80%; margin-top: 2px; margin-bottom: 20px;">
                        {{each(i, v) li}}
                            {{if v==1}}
                            <div class="bar bar-success bar-reviewed" style="width: ${width}"></div>
                            {{else}}
                            <div class="bar bar-left" style="width: ${width}"></div>
                            {{/if}}
                        {{/each}}
                    </div>
                    <a class="forget pull-right" href="javascript:;" style="font-size: 12px;">我忘了</a>
                    <p class="forget pull-left hide" style="font-size: 14px;">我们会安排重新复习这个单词</p>
                {{else}}
                    <p style="text-align: right;"><a id="add-word" class="btn btn-success" data-id="${object_id}" href="javascript:;">添加</a></p>
                    <p style="text-align: right;"><span class="loading hide">&nbsp; &nbsp; 正在添加</span></p>
                {{/if}}
            </div>
            <div class="word-added hide">
                <p style="font-size: 14px; text-align: right">
                    成功添加进你的词库 <a href="" target="_blank">查看</a>
                </p>
            </div>
        </div>
    </script>


    <script id="no_search_tmpl"  type="text/x-jquery-tmpl">
        <p>目前只支持搜索英语单词</p>
    </script>
    <script id="search_fail_tmpl"  type="text/x-jquery-tmpl">
        <div>
            <p class="title">
                未找到单词
            </p>
            <!--
                <div class="body"><a class="btn btn-success" href="/bdc/search/fail/${word}/" target="_blank">手动添加</a></div>
            -->
        </div>
    </script>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        var TEXTS = {
            'Cancel' : "取消",
            'Close' : "关闭",
            'revoke' : "撤销",
            'submitting' : "正在提交中...",
            'update_success' : "更新成功",
            'loading' : "正在加载数据 ...",
            'example_saved' : "例句已经收藏",
            'note_saved' : "此条笔记已被收藏",
            'no_flash' : '你的浏览器没有安装Adobe Flash Player，无法播放声音 <a href="http://get.adobe.com/flashplayer/" target="_blank">Go to Download it</a>',
            'review_error' : "答案不正确，请再次尝试。"
        };
    </script>

    <script>

    var whiteList = ['www.shanbay.com', 'www.17bdc.com'];
    var host = window.location.host;
    // redirect domains except www.shanbay.com or www.17bdc.com
    if (whiteList.indexOf(host) == -1) {
        window.location.href = 'https://www.shanbay.com';
    }
    // redirect http to https
    if (window.location.protocol !== "https:" && host == 'www.shanbay.com') {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    }

</script>


    <!--[if (lt IE 8) & (!IEMobile)]>
        <script src="https://static.baydn.com/static/font/shanbay-fontawesome/shanbay-fontawesome-ie7-v3.js"></script>
    <![endif]-->
    <script src="https://static.baydn.com/static/scripts/jquery-1.7.2.min.js"> </script>
    <script src="https://static.baydn.com/static/scripts/jquery.tmpl.min.js"></script>
    <script src="https://static.baydn.com/static/scripts/jquery.cookie.js"></script>
    <script src="https://static.baydn.com/static/scripts/plugins/soundmanagerv297a_20150601/soundmanager2-jsmin.js"> </script>
    <script src="https://static.baydn.com/static/scripts/plugins/raven/raven.min.js"></script>
    <script type="text/javascript">
    function load_soundManager(){
        var is_safari = false;
        var chrome_version = undefined;
        var ua = navigator.userAgent.toLowerCase();
        if (ua.indexOf('safari') != -1) {
            if (ua.indexOf('chrome') > -1) {
                // Other browsers
                is_safari = false;
                var reg = /chrome\/(\d+)\./;
                match = ua.match(reg);
                if (match && match.length == 2) {
                    chrome_version = parseInt(match[1]);
                }
            } else {
                // Safari
                is_safari = true;
            }
        }
        soundManager.setup({
            debugMode: false,
            onready: function() {
            }
        });
        soundManager.debugFlash = false;

        if (is_safari || (chrome_version != undefined && chrome_version >= 48)) {
            soundManager.preferFlash = false;
        } else {
            soundManager.preferFlash = true;
            soundManager.flashVersion = 9;
        }
        soundManager.useHTML5Audio = true;
        soundManager.url = 'https://static.baydn.com/static/scripts/plugins/soundmanagerv297a_20150601/';
        soundManager.onready(function() {
              soundManager.createSound({
                id:"shanbay_audio",
                url: "http://media.shanbay.com/sounds/huh.mp3"
              });
              soundManager.createSound({
                id:"sentence_audio",
                url: "http://media.shanbay.com/sounds/huh.mp3"
              });
              listen_audio = soundManager.createSound({
                id:"listen_audio",
                url: "http://media.shanbay.com/sounds/huh.mp3"
              });
        });
    }

    function sentry_config() {
        Raven.config('http://d13462113cc14ccbae74e11225443fe3@sentry.17bdc.com/60', {
        }).install();
        Raven.setUser({id: $.cookie('userid')})
    }

    
        load_soundManager();
    
    
        //sentry_config();
    
    </script>
    <script src="https://static.baydn.com/static/scripts/jquery.noty.js"> </script>

    <script src="https://static.baydn.com/static/scripts/jquery.color.js"></script>
    <script type="text/javascript" src="https://static.baydn.com/static/scripts/shanbay-base.ea516a9ff90025b805f28d694f4b8b50.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://static.baydn.com/static/scripts/shanbay-all.cc1cf882a828da43d721e41c4f107ba8.js" charset="utf-8"></script>
    <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
    
    
    
    
    <script type="text/javascript" src="https://static.baydn.com/static/scripts/new_wordbook.4ea7a900b6a6fd8e4ae5240ce3b1cf2d.js" charset="utf-8"></script>
    <script>
        trigger_start_to_learn_wordbook_hint();
        trigger_start_to_learn_wordlist_hint();
        init_create_button();
    </script>
    <script src="https://static.baydn.com/static/scripts/jquery.color.js"></script>
    <script src="https://static.baydn.com/static/scripts/spin.min.js"></script>
    
    <script>
        highlight_wordbook_category();
    </script>
    


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24491297-1']);
      _gaq.push(['_setDomainName', '.shanbay.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        if (window.location.href.indexOf('shanbay.com') == -1)
            return;
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = "https://static.baydn.com/static/"+"scripts/ga.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>

</body></html>
